@model List<CheeseMVC.Models.Cheese>


<h1>@ViewBag.title</h1>

<p><a asp-controller="Cheese" asp-action="Add">Add Cheese</a></p>

@if (Model.Count == 0)
{
    <p>No cheeses yet.</p>
}

<form action="Cheese" method="post">
    <table class="table">
        <tr>
            <th>Remove</th>
            <th>Name</th>
            <th>Description</th>
            <th>Type</th>
            <th>Rating</th>
            <th>Edit Option</th>
        </tr>
        @foreach (var cheese in Model)
        {
            <tr>
                
                <td><input type="checkbox" name="cheeseIds" id="@cheese.ID" value="@cheese.ID"/></td>
                <td>@cheese.Name</td>
                <td>@cheese.Description</td>
                <td>@cheese.Category.Name</td>
                <td>@cheese.Rating</td>
                <td><a asp-controller="Cheese" asp-action="Edit" asp-route-cheeseId="@cheese.ID">edit</a></td>
            </tr>
        }
    </table>
    <input type="submit" value="Remove Selected Cheese(s)" />
    
</form>
